@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?63qpsh');
    src:  url('../fonts/icomoon.eot?63qpsh#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?63qpsh') format('truetype'),
      url('../fonts/icomoon.woff?63qpsh') format('woff'),
      url('../fonts/icomoon.svg?63qpsh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
.w {
    width: 1200px;
    margin: 0 auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.shortcut {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}
.shortcut ul li{
    float: left;
}
.style_red {
    color: red;
}
.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 15px 0;
}
.arrow-icon::after {
    content: '\ea43';
    font-family: 'icomoon';
    margin-left: 4px;
    font-size: 10px;
}
.header {
    position: relative;
    height: 105px;
}
.logo {
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;
}
.logo a {
    display: block;
    width: 171px;
    height: 61px;
    background: url(../images/logo.png);
    font-size: 0;
}
.search {
    position: absolute;
    left: 346px;
    top: 25px;
    width: 538px;
    height: 36px;
    border: 2px solid #b1191a;
}
.search input {
    float: left;
    height: 32px;
    width: 454px;
    padding-left: 10px;
}
.search button {
    float: left;
    height: 32px;
    width: 80px;
    background-color: #b1191a;
    font-size: 14px;
    color: #fff;
}
.hotwords {
    position: absolute;
    top: 66px;
    left: 346px;
}
.hotwords a {
    margin: 0 10px;
}
.shopcar {
    position: absolute;
    right: 60px;
    top: 25px;
    width: 140px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #bfbfbf;
    background-color: #f7f7f7;
}
.shopcar::before {
    font-family: 'icomoon';
    content: '\e900';
    margin-right: 5px;
    color: #b1191a;
}
.shopcar::after {
    font-family: 'icomoon';
    content: '\ea42';
    margin-left: 10px;
}
.count {
    position: absolute;
    top: -5px;
    left: 105px;
    height: 14px;
    line-height: 14px;
    color: #fff;
    background-color: #b1191a;
    padding: 0 5px;
    border-radius: 7px 7px 7px 0;
}
.nav {
    height: 47px;
    line-height: 47px;
    border-bottom: 2px solid #b1191a;
}
.nav .dropdown {
    width: 210px;
    height: 45px;
    background-color: #b1191a;
}
.dropdown .dt {
    height: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    font-size: 16px;
}
.dropdown .dd {
    width: 210px;
    height: 465px;
    background-color: #c81623;
    margin-top: 2px;
}
.dropdown .dd ul li {
    position: relative;
    height: 31px;
    line-height: 31px;
    margin-left: 2px;
    padding-left: 10px;
}
.dropdown .dd ul li::after {
    position: absolute;
    top: 1px;
    right: 10px;
    color: #fff;
    content: '\ea42';
    font-family: 'icomoon';
    font-size: 14px;
}
.dropdown .dd ul li:hover {
    background-color: #fff;
}
.dropdown .dd ul li a {
    font-size: 14px;
    color: #fff;
}
.dropdown .dd ul li:hover a {
    color: #b1191a;
}
.navitems ul li {
    float: left;
}
.navitems ul li a {
    display: block;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    padding: 0 25px;
}


/*底部模块*/
.footer {
    height: 415px;
    background-color: #f5f5f5;
    padding-top: 30px;
}
.mod_service {
    height: 80px;
    border-bottom: 1px solid #ccc;

}
.mod_service ul li {
    float: left;
    width: 300px;
    height: 50px;
    padding-left: 35px;
}
.mod_service ul li h5 {
    float: left;
    width: 50px;
    height: 50px;
    background-color: #c81623;
    border-radius: 25px;
    margin-right: 8px;
}
.txt h4 {
    line-height: 30px;
    font-size: 14px;
}
.txt p {
    font-size: 12px;
}
.mod_service h5 {
    font-family: 'icomoon';
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    color: white;
}
.mod_help {
    height: 185px;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 50px;
}
.mod_help dl {
    width: 200px;
    float: left;
}
.mod_help dl:last-child {
    width: 90px;
    text-align: center;
}
.mod_help dl dt {
    font-size: 16px;
    margin-bottom: 10px;
}
.mod_copyright {
    text-align: center;
    padding: 20px;
}
.links {
    line-height: 20px;
}
.
